DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080
LOG_LEVEL=INFO
NICKNAME=["视频解析助手"]
ONEBOT_V11_ACCESS_TOKEN=
LOCALSTORE_PLUGIN_CACHE_DIR={"nonebot_plugin_parser":"D:/123/ai/QQbot/BOT2/nonebot-plugin-parser/cache"}
PARSER_DISABLED_PLATFORMS=["kuaishou","twitter","youtube","acfun","tiktok","weibo","xiaohongshu","nga"]
PARSER_DURATION_MAXIMUM=480
PARSER_MAX_SIZE=90
PARSER_APPEND_URL=true
PARSER_USE_BASE64=false
PARSER_GROUP_BLACKLIST_ENABLED=true
# PARSER_BILI_CK=SESSDATA=...;ac_time_value=...
